# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite and other build tools
.vite/
.vitepress/
.cache/
public/

# IDE or Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous files
*.tgz
*.zip
*.tar
*.gz

# Ignore any compiled TypeScript files if using TypeScript
*.js
*.d.ts
